<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>Login System</title>
</head>
<style>
    .container{
        width: 700px;
        margin: auto;
        background-image: linear-gradient(black, blue );
        border-radius: 10px;
    
    }
    form{
        width: 450px;
        margin: auto;
        margin-top: 50px;
        font-size: 20px;
        height: 443px;
    }
</style>
<body>
    {% extends 'base.html' %}

    {% block content %}
    


<form action="" method="POST" class="shadow p-3">
    {% csrf_token %}

    {% for i in fm %}

    {{i.label_tag}}{{i}}{{i.errors | striptags}}<br><br>
    {% endfor %}
    
    <br>
    <input type="submit" value="Login" class="btn btn-primary">
    <!-- <a href="{% url 'signup' %}" class="btn btn-primary">SignUp</a> -->
</form>



    {% endblock %}
</body>
</html>